[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zhs
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path =zsh/custom/plugins/zsh-syntax-highlithing
	url = https://github.com/zsh-users/zsh-syntax-highlighting
