atom/.atom/*
!atom/.atom/init.coffee
!atom/.atom/config.cson
!atom/.atom/snippets.cson
!atom/.atom/styles.less
!atom/.atom/keymap.cson
vim/.vim/.tmp
vim/.vim/.undodir
vim/.vim/.netrwhist
vim/.vim/plugged
vim/.vim/autoload
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugged
mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf
