atom/.atom/*
!atom/.atom/init.coffee
!atom/.atom/config.cson
!atom/.atom/snippets.cson
!atom/.atom/styles.less
!atom/.atom/keymap.cson

vim/.vim/*
!vim/.vim/.vimrc

ranger/.config/ranger/*
|ranger/.config/ranger/rc.conf
!ranger/.config/ranger/scope.sh

nvim/.config/nvim/*
!nvim/.config/nvim/init.vim

mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf
