[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
    path = zsh/custom/plugins/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/custom/powerlevel9k"]
	path = zsh/custom/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
[submodule "zsh/custom/bullet-train-oh-my-zsh-theme"]
	path = zsh/custom/bullet-train
	url = https://github.com/caiogondim/bullet-train-oh-my-zsh-theme
[submodule "zsh/custom/spaceship-zsh-theme"]
	path = zsh/custom/spaceship
	url = https://github.com/denysdovhan/spaceship-zsh-theme
[submodule "zsh/custom/odin"]
	path = zsh/custom/odin
	url = https://github.com/tylerreckart/odin
[submodule "zsh/custom/honukai-iterm-zsh"]
	path = zsh/custom/honukai
	url = https://github.com/oskarkrawczyk/honukai-iterm-zsh
[submodule "base16-builder"]
	path = base16-builder
	url = https://github.com/kowalskey/base16-builder
