atom/.atom/*
!atom/.atom/init.coffee
!atom/.atom/config.cson
!atom/.atom/snippets.cson
!atom/.atom/styles.less
!atom/.atom/keymap.cson

vim/.vim/*
!vim/.vim/.vimrc

cmus/.config/cmus/*
!cmus/.config/cmus/notify_update.py
!cmus/.config/cmus/cmus_status.sh
!cmus/.config/cmus/autosave
!cmus/.config/cmus/itunes-like.theme

i3/.config/ranger/*
!i3/.config/ranger/rc.conf
!i3/.config/ranger/scope.sh

nvim/.config/nvim/*
!nvim/.config/nvim/init.vim

mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf
