"*":
  core:
    autoHideMenuBar: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".stfolder"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Hack"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "bcc7b6c5-5583-423e-9526-ea5693aab25a"
  linter:
    lintOnChange: false
  "linter-shellcheck": {}
  welcome:
    showOnStartup: false
