! Base16 Materia
! Scheme: Defman21

#define base00 #263238
#define base01 #2C393F
#define base02 #37474F
#define base03 #707880
#define base04 #C9CCD3
#define base05 #CDD3DE
#define base06 #D5DBE5
#define base07 #FFFFFF
#define base08 #EC5F67
#define base09 #EA9560
#define base0A #FFCC00
#define base0B #8BD649
#define base0C #80CBC4
#define base0D #89DDFF
#define base0E #82AAFF
#define base0F #EC5F67

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06



Xcursor.theme: DMZ-White

! ------------------------------------------------------------------------------
! URXVT
! ------------------------------------------------------------------------------
URxvt.font:                xft:hack:size=12, xft:Awesome:size=12
URxvt.boldFont:            xft:hack:size=12:bold
URxvt.italicFont:          xft:hack:size=12:italic
URxvt.boldItalicFont:      xft:hack:size=12:bold:italic
URxvt.letterSpace:         0
URxvt.urgentOnBell:        false
URxvt*visualBell:          true
URxvt.geometry:            100x30

URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true


URxvt*background:                     base00
URxvt*foreground:                     base05
URxvt*cursorColor:                    base05

URxvt*scrollColor:                    base05
URxvt*highlightColor:                 base02
URxvt*highlightTextColor:             base04

URxvt*color0:                         base00
URxvt*color1:                         base08
URxvt*color2:                         base0B
URxvt*color3:                         base0A
URxvt*color4:                         base0D
URxvt*color5:                         base0E
URxvt*color6:                         base0C
URxvt*color7:                         base05
URxvt*color8:                         base03
URxvt*color9:                         base08
URxvt*color10:                        base0B
URxvt*color11:                        base0A
URxvt*color12:                        base0D
URxvt*color13:                        base0E
URxvt*color14:                        base0C
URxvt*color15:                        base07

URxvt*color16:                        base09
URxvt*color17:                        base0F
URxvt*color18:                        base01
URxvt*color19:                        base02
URxvt*color20:                        base04
URxvt*color21:                        base06


URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false

URxvt*fading:              30

URxvt.keysym.M-j:          perl:keyboard-select:activate
! URxvt.keysym.M-c:          perl:clipboard:copy
! URxvt.keysym.M-v:          perl:clipboard:paste
! URxvt.keysym.M-C-v:        perl:clipboard:paste_escaped
! URxvt.keysym.F11:          perl:fullscreen:switch

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up
URxvt.url-launcher:        /usr/sbin/firefox
URxvt.keysym.M-Delete:     perl:matcher:list
URxvt.colorUL:             #7780a1
URxvt.perl-ext-common:     default,keyboard-select


! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844

